:root {
    --laranja-claro : #EEC957;
    --laranja-menu : #EEC957;
    --btn-bem-vendi: #F29F05;
    --cinza-claro-fundo: #E3E3E3;
    --azul-claro: #05AFF2;
    --laranja-sobre:#FFCC3075;
    --laranja-carrinho: #F2B807;
    --fundo-carrinho: #FFFEFE;
    --cor-escrita-login: #F0AC00;
    --cor-volta-da-foto-miro: #FFCC30B8;
    --borda-input: #F0AC00;
}
html, body, nav, ul, li, a {
    padding: 0;
    margin: 0;
    border: none;
}
header {
    display: flex;
    align-items: center;
}
body {
    font-size: 14px;
    background-color: var(--cinza-claro-fundo);
    font-family: 'Short Stack', cursive;
}
nav {
    height: 6rem;
    width: 100%;
    background-color: var(--laranja-menu);
    display: flex;
}
.linhas{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}
.fa-bars{
    color:#05AFF2
}
.logo{
    width: 80%;
    display: flex;
    align-items: center;
}
.logo a {
    width: 80%;
    height: 6.5rem;
    box-sizing: border-box;
    display: flex;
}
.icone {
    padding: 0 1rem;
    align-items: center;    
}
.menu {
    margin-top: 0.6rem;
    margin-left: 4.4rem;
}
.div-menu{
    width: 70%;
}
.icone-todos {
    display:flex;
    align-items: center;
    width: 20%;
}
.fa-user-o, .fa-shopping-cart, .fa-commenting-o, .fa-search{
    color: black;
}
.fa-user-o {
    margin-left: 4rem;
}
.submenu {
    position: absolute;
    top: 6rem;
    background-color: var(--laranja-menu);
    width: 13rem;
    height: 11rem;
}
.sobre {
    padding-top: 0.5rem;
}
.submenu li {
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.submenu a{
    text-decoration: none;
    color: black;
}
.div-maior {
    width: 85%;
    margin: 2rem auto;
    background-color: rgba(236, 238, 239, 0.748);
    display: flex;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.img img{
    width: 5.5rem;
}
.foto img{
    width: 4.5rem;
}
img {
    border-radius: 0.5rem;
}
.produtos , .detalhes, .info {
    display: flex;
    flex-flow:column ;
}
.produtos{
    width: 50%;
    padding-right: 4rem;
    margin: 1rem;
}
.detalhes{
    background-color: var(--laranja-carrinho);
    position: relative;
    border-radius: 0.5rem;
    margin: 1rem auto;
    margin-left: -1.5rem;
}
.produto1, .produto2, .produto3, .produto4{
    display: flex;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    align-items: center;
    padding: 1rem;
}
.produto4{
    margin-bottom: 2rem;
}
.img ,.nome-info{
    padding-right: 2.5rem;

}
.nome-info4{
    padding-right: 1.5rem;
}
.nome-info5{
    padding-right: 0rem;
}
.select{
    padding-left: 10.7rem;
}
.select2{
    padding-left: 11.99rem;
}
.select3{
    padding-left: 9.85rem;
}
.select4{
    padding-left: 7.52rem;
}
.select5{
    padding-left: 9.38rem;
}
.select6{
    padding-left: 15.15rem;
}
.select7{
    padding-left: 8.23rem;
}
.select8{
    padding-left: 9.1rem;
}
.select9{
    padding-left: 12.6rem;
}
.select10{
    padding-left: 10.9rem;
}
.select11{
    padding-left: 7.3rem;
}
.select12{
    padding-left: 12.3rem;
}
.select13{
    padding-left: 7.84rem;
}
.select14{
    padding-left: 6.02rem;
}
.select15{
    padding-left: 8.7rem;
}
.select16{
    padding-left: 11.8rem;
}
.preco{
    padding-left: 2rem;
}
.texto {
    display: flex;
    flex-flow:column ;
}
.texto span {
    margin-top: 1rem;
}
.produtos input {
    width: 2rem;
}
.detalhes .cima {
    display: flex;
}
.detalhes .cima .det, .foto{
    padding: 1rem;
    padding-bottom: 0rem;
}
.detalhes .cima .foto{
    padding-left: 14rem;
}
.detalhes .info {
    width: 60%;
    margin: 1rem;
    margin-top: 0rem;
    
}
.caixa-junta {
    display: flex;
    margin: 1rem;
}
.caixa-data{
    margin-right: 2.8rem;
}
.labell {
    margin: 1rem;
}
.detalhes .info #cvv , #data {
    display: flex;
    flex-flow: row;
}

.label{
    display: block;
    margin-bottom: 1rem;
}
.total {
    display: flex;
    flex-flow: column;
    margin: 2.5rem;
    margin-top: 0.5rem ;
}
.tot #total, .frete #frete{
    margin-left: 21.5rem;
}
#subtot{
    margin-left: 20.2rem;
}
button {
    margin-top: -1.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem; 
    background-color: var(--cor-opc-menu);
}
.detalhes input, button {
    padding: 1rem;
    border-radius: 0.5rem;
}
#nome{
    width: 25.5rem;
    margin: 1rem;
}
.cartao {
    margin: 1rem;
    width: 25.5rem;
}
.sub, .tot, .frete {
    margin-top: 0.5rem;
}
hr {
    border-color: var(--cor-opc-menu);
    width: 90%;
}
.detalhes {
    position: sticky;
    top: 0.4rem;
    left: 53rem;
    height: 43rem;
}
.carrinho {
    display: block;
}
.carrinho div {
    background-color: #fff7de;
    border: 2px solid #F29F05;
    border-radius: 0.8rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.carrinho img {
    width: 5rem;
}
.carrinho span {
    padding-left: 4rem;
    padding-right: 4rem;
}