:root {
    --laranja-claro : #EEC957;
    --laranja-menu : #EEC957;
    --btn-bem-vendi: #F29F05;
    --cinza-claro-fundo: #E3E3E3;
    --azul-claro: #05AFF2;
    --laranja-sobre:#FFCC3075;
    --laranja-carrinho: #F2B807;
    --fundo-carrinho: #FFFEFE;
    --cor-escrita-login: #F0AC00;
    --cor-volta-da-foto-miro: #FFCC30B8;
    --borda-input: #F0AC00;
}
html, body, nav, ul, li, a {
    padding: 0;
    margin: 0;
    border: none;
}
header {
    display: flex;
    align-items: center;
}
body {
    font-size: 14px;
    background-color: var(--cinza-claro-fundo);
    font-family: 'Short Stack', cursive;
}
nav {
    height: 6rem;
    width: 100%;
    background-color: var(--laranja-menu);
    display: flex;
}
.linhas{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}
.fa-bars{
    color:#05AFF2
}
.logo{
    width: 80%;
    display: flex;
    align-items: center;
}
.logo a {
    width: 80%;
    height: 6.5rem;
    box-sizing: border-box;
    display: flex;
}
.icone {
    padding: 0 1rem;
    align-items: center;    
}
.menu {
    margin-top: 0.6rem;
    margin-left: 4.4rem;
}
.div-menu{
    width: 70%;
}
.icone-todos {
    display:flex;
    align-items: center;
    width: 20%;
}
.fa-user-o, .fa-shopping-cart, .fa-commenting-o, .fa-search{
    color: black;
}
.fa-user-o {
    margin-left: 4rem;
}
.submenu {
    position: absolute;
    top: 6rem;
    background-color: var(--laranja-menu);
    width: 13rem;
    height: 11rem;
}
.sobre {
    padding-top: 0.5rem;
}
.submenu li {
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.submenu a{
    text-decoration: none;
    color: black;
}
.cabeça img{
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
    display: flex;
    margin: 0.5rem 1rem;
}
input[type="text"],
input[type="date"],
input[type="tel"] {
    width: 500px;
    height: 50px;
    border:0.2rem solid var(--laranja-claro);
    color: var(--letra);
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
}
.bot{
    width: 500px;
    height: 50px;
    background-color: var(--laranja-claro);
    color: var(--latra2);
    border: 3px solid  var(--laranja-claro);
    border-radius: 10px;
    margin-bottom: 1rem;
}

input {
    font-size: 1.5rem;
    margin-top: 1.3rem;
}
h1{
    padding-top: 0;
    padding: 0 33rem;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    width: 30%;
    text-align: center;

}
.tudo {
    padding: 0 32rem;
}

.Motivo {
    width: 500px;
    height: 50px;
    border:0.2rem solid var(--laranja-claro);
    color: var(--latra2);
    padding: 10px;
    box-sizing: border-box;
    background-color:var(--fundo);
    border-radius: 10px;
    margin-top: 1.3rem;
    font-size: 1.5rem;
    display: flex;


}
.Motivo label {
    color: #7c7c7c;
}
select {
    color:black;
    padding: 1px;
    box-sizing: border-box;
    background-color:var(--fundo); 
    border: 0;
    font-size: 1.5rem;
    padding: 0 7rem;
}
textarea {
   
    border:0.2rem solid var(--laranja-claro);
    color: var(--latra2);
    padding: 10px;
    box-sizing: border-box;
    background-color:var(--fundo);
    border-radius: 10px;
    margin-top: 1.3rem;
    font-size: 1.5rem;
}
.contatos {
    display: flex;
    flex-flow: column;
    padding-top: 0.8rem;
    padding-bottom: 0;
    margin-left: 33rem ;
}
.contatos span {
    font-size: 1.8rem;
    padding-left: 1rem;
    font-family: 'Short Stack', cursive;
}