:root {
    --laranja-claro : #EEC957;
    --laranja-menu : #EEC957;
    --btn-bem-vendi: #F29F05;
    --cinza-claro-fundo: #E3E3E3;
    --azul-claro: #05AFF2;
    --laranja-sobre:#FFCC3075;
    --laranja-carrinho: #F2B807;
    --fundo-carrinho: #FFFEFE;
    --cor-escrita-login: #F0AC00;
    --cor-volta-da-foto-miro: #FFCC30B8;
    --borda-input: #F0AC00;
}
html, body, nav, ul, li, a {
    padding: 0;
    margin: 0;
    border: none;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
}
body {
    font-size: 14px;
    background-color: var(--cinza-claro-fundo);
    font-family: 'Short Stack', cursive;
}
nav {
    height: 6rem;
    width: 100%;
    background-color: var(--laranja-menu);
    display: flex;
}
.linhas{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}
.fa-bars{
    color:#05AFF2
}
.logo{
    width: 80%;
    display: flex;
    align-items: center;
}
.logo a {
    width: 80%;
    height: 6.5rem;
    box-sizing: border-box;
    display: flex;
}
.icone {
    padding: 0 1rem;
    align-items: center;    
}
.menu {
    margin-top: 0.6rem;
    margin-left: 4.4rem;
}
.div-menu{
    width: 70%;
}
.icone-todos {
    display:flex;
    align-items: center;
    width: 20%;
}
.fa-user-o, .fa-shopping-cart, .fa-commenting-o, .fa-search{
    color: black;
}
.fa-user-o {
    margin-left: 4rem;
}
.submenu {
    position: absolute;
    top: 6rem;
    background-color: var(--laranja-menu);
    width: 13rem;
    height: 11rem;
    z-index: 99;
}
.sobre {
    padding-top: 0.5rem;
}
.submenu li {
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.submenu a{
    text-decoration: none;
    color: black;
}
.demais-produtos {
    display: flex;
    background-color: rgba(225, 225, 225, 0.5);
    width: 85%;
    justify-content: center;
    margin-left: 7rem;
    text-align: center;
}
.titulo, .subtitulo{
    margin-left: 8rem;
}
.titulo{
    font-size: 1.5rem;
}
/*.teste2 {
    
    width: 68rem;
    height: 35rem;
    margin-top: 4rem;
    margin: 0rem auto;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
}*/
.teste{
    background-color: var(--laranja-claro);
    padding: 0;
    width: 73rem;
    margin: 0rem auto;
    border-radius: 0.6rem;
}

.teste img {
    border-radius: 0.8rem;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: -1rem;
    padding-right: -1rem;
}

/** {
    box-sizing: border-box;
}

.slider {
    width: 80%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
}
.brinquedo2{
    background-color:var(--laranja-claro);
    border-radius: 10px;
    display: flex !important;
    flex-direction: column;
    align-content: center;
}
.brinquedo2 span{
    text-align: center;
}*/


/* Slider */
/*.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.img-central img{
    width: 30rem;
}*/
